<?xml version="1.0"?>


<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">


  <connectionStrings>
   
    <add name="DefaultConnection" 
         connectionString="Server=0e07f0c8-7eb0-4954-8044-ab8d00ce82d2.sqlserver.sequelizer.com;Database=db0e07f0c87eb049548044ab8d00ce82d2;User ID=wlkbrolozmtqviuc;Password=UyKwgULf5gUZv77VvtJucamwYSr2tizn3Xma2QAfWsfHVJm7D7rESBcTmoFwCTTV;" 
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  
  
  
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
   
  </system.web>
</configuration>
