<?xml version="1.0"?>


<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">


  <connectionStrings>
   
    <add name="DefaultConnection"
         connectionString="Server=6fa6c9c5-f9eb-48ce-895c-ab8f0135a1d3.sqlserver.sequelizer.com;Database=db6fa6c9c5f9eb48ce895cab8f0135a1d3;User ID=hcyewvtwvenprcho;Password=ooaqKyabRUAasQvtrtbpwyerQm2j3TK5HRSxqtv2e6zfxUJjXkuwdbmXiRHxFXh7;"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
   
  </system.web>
</configuration>
