<?xml version="1.0"?>


<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">


  <connectionStrings>
   
    <add name="DefaultConnection" 
         connectionString="Server=44ddb583-cf3c-4a9c-92a4-ab8d00e84575.sqlserver.sequelizer.com;Database=db44ddb583cf3c4a9c92a4ab8d00e84575;User ID=qnzntywqvmnswpog;Password=FsvvZ4CzVzVLjeKdGs4oLNnFdLMn5sYHMqXjxw5TdERsjqCV3BjHRuLZfWsnqpCB;" 
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  
  
  
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
   
  </system.web>
</configuration>
