
@{
    ViewBag.Title = "AdminMenu";
}


<div class="row">

    <div class="col-md-3 card border-success mb-3 m-3">
        <section id="register">
            <div class="card-header">Login Manager</div>
            <div class="card-body">
                <h4 class="card-title">Register New Login</h4>
                <p class="card-text">Create login details for a new administrator and allow user access to event management tools.</p>
                @Html.ActionLink("New Login", "Register", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-success" })

            </div>
        </section>
    </div>

    <div class="col-md-3 card border-success mb-3 m-3">
        <section id="create-new-event">
            <div class="card-header">Create Event</div>
            <div class="card-body">
                <h4 class="card-title">Create New Event</h4>
                <p class="card-text">Add a new event to the database. Event will be displayed on home page with a GoogleMap location pin.</p>
                @Html.ActionLink("New Event", "Create", "Events", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-success" })
            </div>
        </section>
    </div>
    <div class="col-md-3 card border-success mb-3 m-3">
        <section id="create-new-event">
            <div class="card-header">Event Manager</div>
            <div class="card-body">
                <h4 class="card-title">Edit / Delete Events</h4>
                <p class="card-text">Update or permanently remove events from the database. Details will be automatically updated to GoogleMaps.</p>
                @Html.ActionLink("Update Events", "Index", "Events", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-success" })


            </div>

        </section>
    </div>
</div>







