body {
    background-color: #edf1f2;
}


img {
    opacity:1.0;
}

.card-body {
    background-color: white;
    box-shadow: 3px 3px 5px #aaaaaa;
}

.card-body:hover {
    box-shadow: 10px 10px 5px #aaaaaa;
}
.date-style {
    outline: none;
    border: none;
    text-align: center;
    width: 70%;
}
.card-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.caption {
    color: white;
    position: absolute;
    top: 20%;
    left: 15%;
    width: 50%;
}
